@using eShopSolution.ViewModels.Common
@model PagedResult<eShopSolution.ViewModels.Catalog.Product.ProductViewModel>

@{
    ViewData["Title"] = "Danh Sách Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#searching').autocomplete({
                source: '/productsApp/SuggestSearch'
            });
        });
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);

        var ConfirmDelete = function (EmployeeId) {
            console.log(EmployeeId);
            $("#hiddenEmployeeId").val(EmployeeId);
            $("#myModal").modal('show');
        }

        var Close = function () {
            $("#myModal").modal('hide');
            $('#myModal').insertAfter($('body'));
        }

        var DeleteEmployee = function () {
            $("#myModal").hide();
            var empId = $("#hiddenEmployeeId").val();
            console.log(empId);
            $.ajax({
                type: "POST",
                url: "/ProductsApp/Delete",
                data: { id: empId },
                success: function (result) {
                    console.log(result);
                    $("#loaderDiv").hide();
                    $("#myModal").modal("hide");
                    alert(result);
                    window.location.href = "/ProductsApp/Index/";
                    $("#row_" + empId).remove();
                },
                error: function () {
                    alert("Error");
                }

            });            
        }
       
    </script>
}

<input type="hidden" id="hiddenEmployeeId" />
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
                <button  type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Are you sure ? You want to delete this. </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="DeleteEmployee()">Delete</button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid px-4">
    <h1>Danh Sách Sản Phẩm</h1>
    <div id="PlaceHolderHere"></div>
    <p>
        <a asp-action="Create">Create New Product</a>
    </p>
    <div class="row">
        <div class="col-md-6" style="height:auto">
            @if (TempData["result"] != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.SuccessMsg
                </div>
            }
        </div>
    </div>
    <div class="card mb-4">
        <div class="card mb-12">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <form asp-action="Index" method="get">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6" style="float:left">
                                        <input id="searching" type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                                    </div>
                                    <div class="col-md-3" style="float:left; padding-left:5px">
                                        <button type="submit" class="btn btn-primary">Search</button>
                                        <button type="button" onclick="window.location.href='/ProductsApp/Index'" class="btn btn-dark">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                </div>

                <table class="table table-bordered " id="datatables">
                    <thead>
                        <tr>
                            <th>
                                Avatar
                            </th>
                            <th>
                                ProductName
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                OriginalPrice
                            </th>
                            <th>
                                Stock
                            </th>
                            <th>
                                DateCreated
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr id="row_@item.Id">
                                <td>
                                    <img style="width:100px; height:100px" src="https://localhost:5001/@Html.DisplayFor(modelItem => item.ImgLink)">
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OriginalPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Stock)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.DateCreated)
                                </td>

                                <td>
                                    @Html.ActionLink("Edit", "Update", new { id = item.Id }) |
                                    @Html.ActionLink("Detail", "Detail", new { id = item.Id }) |
                                    @*@Html.ActionLink("Delete", "Delete", new { Id = item.Id })*@
                                    <a class="btn btn-danger" onclick="ConfirmDelete('@item.Id')">Delete <i class="glyphicon-trash"></i>  </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div style="padding-left:40%; padding-right:50%;width:250px">@await Component.InvokeAsync("Pager", Model)</div>
        </div>
    </div>
</div>