@using eShopSolution.ViewModels.Common;
@model PagedResult<eShopSolution.ViewModels.System.Users.UserVM>

@{
    ViewData["Title"] = "Danh Sách Người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#searching').autocomplete({
                source: '/UserApp/SuggestSearch'
            });
        });
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
        $(document).ready(function () {
            $('#row-table').autocomplete({
                source: '/UserApp/index'
            })
        });
    </script>
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Danh Sách Người Dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Danh Sách Người Dùng</li>
    </ol>
    <div class="row">
        <div class="col-md-6" style="height:auto">
            @if (TempData["result"] != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.SuccessMsg
                </div>
            }
        </div>
    </div>

    <div class="card mb-4">
        <div class="card mb-12">

            <div class="card-header">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <form asp-action="Index" method="get">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6" style="float:left">
                                        <input id="searching" type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" placeholder="User or Email" />
                                    </div>
                                    <div class="col-md-3" style="float:left; padding-left:5px">
                                        <button type="submit" class="btn btn-primary">Tìm</button>
                                        <button type="button" onclick="window.location.href='/Userapp/Index'" class="btn btn-dark">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                </div>

                <table class="table table-bordered " id="datatables">
                    <thead>
                        <tr>
                            <th>
                                UserName
                            </th>
                            <th>
                                DoB
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                CreatedAt
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dob)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Detail", "Detail", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div style="padding-left:40%; padding-right:50%;width:250px">@await Component.InvokeAsync("Pager", Model)</div>
        </div>
    </div>
</div>