@using eShopSolution.ViewModels.Common;
@model PagedResult<eShopSolution.ViewModels.System.Users.UserVM>

@{
    ViewData["Title"] = "Danh Sách Người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Danh Sách Người Dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Danh Sách Người Dùng</li>
    </ol>
    <div class="card mb-4">
    </div>
    <div class="card mb-4">

        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>

                        <th>
                            UserName
                        </th>
                        <th>
                            DoB
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            CreatedAt
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dob)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@